#!/usr/bin/env xdg-open
[Desktop Entry]
Name=QGIS Master in Docker
GenericName=QGIS Master in Docker
Comment=GIS Master in Docker
Exec=/usr/local/bin/run-qgis-master-in-docker.sh %U
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/shp;
Icon=/usr/local/qgis-icon-60x60.png
Categories=Science,
