#!/usr/bin/env xdg-open
[Desktop Entry]
Name=QGIS 2.8 in Docker
GenericName=QGIS 2.8 in Docker
Comment=GIS 2.8 in Docker
Exec=/usr/local/bin/run-qgis-2.8.0-in-docker.sh %U
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/shp;
Icon=/usr/local/qgis-2.8/share/qgis/images/icons/qgis-icon-60x60.png
Categories=Science,
